.montserrat { font-family: 'montserrat', montserrat, sans-serif }
.ls3 { letter-spacing: 0.3rem; }
.ls2 { letter-spacing: 0.2rem; }
.ls1 { letter-spacing: 0.1rem; }
.bgh { background-image: url("img/bg.jpg"); }
.oln { outline: none; }

.pulse-button {
  position: relative;
  border: none;
  box-shadow: 0 0 0 0 #000;
  border-radius: 50%;
  border-color: #000;
  background-color: #000;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
.pulse-button:hover 
{
  -webkit-animation: pulse 2.25s infinite cubic-bezier(0.66, 0.5, 0, 1);
  -moz-animation: pulse 2.25s infinite cubic-bezier(0.66, 0.5, 0, 1);
  -ms-animation: pulse 2.25s infinite cubic-bezier(0.66, 0.5, 0, 1);
  animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0.5, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px #000;}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px #000;}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px #000;}}
@keyframes pulse {to {box-shadow: 0 0 0 45px #000;}}

.typewriter {
  border-right: .23rem solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    blink-caret .85s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

.fadeinChild::after {
    background: url("img/bg.jpg");
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:absolute;

    z-index: -1;
    background-size: cover;
    animation: fadein 0.5s;
}
.fadein {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

greenhover::hover {
    color:rgb(72 177 119);
}

.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 30%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 30%, 100%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 30%, 100%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  15% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
